# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:

- script: |
      sudo apt-get update
      pip install --upgrade pip
      pip uninstall ansible
  displayName: 'Install dependencies and ansible-lint'

- script: |
    pip install ansible-lint
    ansible-lint -v
#    ansible-lint -v
#    ansible-lint *.yml
  displayName: 'Linting playbooks and roles'
